.dashboardContainer {
    border: 1px solid #87C641;
    padding: 12px;
    margin: 12px auto;
    text-align: center;
    max-width: 600px;
    background: #fff;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
}
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  background-color: #f5f5f5; /* or any color */
  border-bottom: 1px solid #ddd;
}
.logoutBtn {
  padding: 8px 15px;
  background-color: #87c641;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}

.logoutBtn:hover {
  background-color: #6da12f;
}

.main {
  flex: 1;
  padding: 20px;
}
.dashboardButtons {
    margin: 20px auto 0;
    max-width: 500px;
}

.bigBtn {
    display: block;
    width: 100%;
    padding: 18px 20px;

    border-radius: 10px;
    margin-top: 15px;

    font-size: 22px;
    font-weight: bold;
    text-align: left;
    text-decoration: none;

    color: #fff;
}

.btnGreen {
    background-color: #87C641;
}

.btnRed {
    background-color: #d9534f;
}

.backBtn {
    display: inline-block;
    margin-top: 16px;

    padding: 10px 18px;
    background-color: #337ab7;

    color: #fff;
    font-size: 16px;
    text-decoration: none;

    border-radius: 6px;
}