.layout {
    display: flex;           /* important */
    flex-direction: column;  /* vertical layout */
    min-height: 100vh;       /* full viewport height */
    
}

.content {
    flex: 1;                 /* fill remaining space between header and footer */   
   /*position: relative;*/
    width: 100%;
    display: flex;
    flex-direction: column;
}   