.navbar {
    width: 100%;
    padding: 15px 30px;
    background: #ffffff;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #25557C;
}

.loginBtn {
    background: #337ab7;
    color: #fff;
    padding: 8px 18px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
}