/* Reset margins/paddings and prevent horizontal scroll */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

/* Ensure all elements inherit box-sizing */
*, *::before, *::after {
  box-sizing: inherit;
}

/* Global font */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9f9f9;
}
.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.App > main {
    flex: 1;
}
footer {
  margin-top: auto; /* important */
  padding: 20px,0;
  background-color: #f9f9f9;
  border-top: 1px solid #eaeaea;
  text-align: center;
  color: #555;
  font-size: 0.9rem;
}